.cards {
    width: 150px!important;
    height: 150px !important;
    background: white;
}

.icfac {
    height: 75px !important;
    margin-top: 0px;
    width: 100% !important;
}

ion-card-subtitle {
    font-size: 14px !important;
    margin-top: 8px;
    margin-bottom: auto;
    font-weight: 500;
    text-align: center;
}

.content {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

ion-row {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

ion-grid {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

ion-card {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}