.cards {
    width: 150px !important;
    height: 180px !important;
    z-index: 5 !important;
    background: rgba(255, 255, 255, 0.75)
}

.card-abajo {
    width: 95% !important;
    height: 180px !important;
    z-index: 5 !important;
    background: rgba(255, 255, 255, 0.75)
}

.card-abajo-responsive {
    width: 90% !important;
    height: 180px !important;
    z-index: 5 !important;
    background: rgba(255, 255, 255, 0.75)
}

.icfac {
    height: 114px !important;
    width: 110px !important;
}

ion-card-title {
    font-size: 14px !important;
    text-align: center;
}

ion-content {
    --background: url('../../../assets/image-back.jpeg') 0 0/100% 100% no-repeat;
}