.cardcar {
    width: 92% !important;
    display: flex;
    height: auto !important;
    background: white;
}

.cardori {
    width: 92% !important;
    height: auto !important;
    background: #003f4f;
    padding: 12px !important;
    color: white !important;
}